* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: "PT Serif", serif;
}

#Headers{
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: clamp(1rem, 10vw, 5rem);   
}

#ArImage{
    display: block;
    margin: 0 auto;
    width: clamp(200px, 70vw, 800px); 
    padding-bottom: 60px;
    transition: opacity 0.5s ease-in-out;
}

#Subheaders{
    text-align: justify;
    font-size: clamp(0.8rem, 5vw, 2rem);
    padding: 0 30px 30px 30px;
    text-justify: inter-word;
    
}

section{
    text-align: center;
}

#button{
    background-color: #1b91eb;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(0.8rem, 4vw, 2rem);
    border-radius: 12px;
    cursor: pointer;
}

.cta h5{
    font-size: clamp(1rem, 5vw, 2rem);
    margin-bottom: 10px;
}

#links{
    list-style-type: none;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: clamp(0.5rem, 5vw, 1rem);
}