*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

#ArImage {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
}
.How-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 2rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid black;
    gap: 0.5rem;
}


.How-list {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.buttons{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #3983f3;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em
}